*, body{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f7f9fc;
}

/* navbar */
nav{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: -1px -7px 20px 0px #888;
}
nav ul{
	position: relative;
	top: 20px;
	margin: 0px;
	float: right;
	right: 10%;
}
nav ul li{
	float: left;
	display: block;
	margin: 0px 15px 0px 15px;
}
nav ul li a{
	text-decoration: none;
	color: #888;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
}
nav ul li a:hover{
	color: #55a8fd;
}
.menu-mobile{
	position: relative;
	float: right;
	display: none;
}
.menu-mobile a{
	color: #888;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border: 1px solid #888;
}